beautifulsoup4
DateTime
pysimilar
PyDictionary
easySpeech
geocoder
geopy
huggingface-hub
librosa
nltk
numpy
playsound
pyjokes
PyQt5
PyQtWebEngine
pyttsx3
requests
scikit-learn
screen-brightness-control
screeninfo
sip
sounddevice
tensorflow
tokenizers
torch
torchaudio
transformers
urllib3
wikipedia
word2number
youtube-search-python
