<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>J.A.R.V.I.S</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body translate="no">
    <a href="#" download>
        <div id="arc_container" text-align="center">
            <div class="arc_reactor">
                <div class="case_container">
                    <div class="e7">
                        <div class="semi_arc_3 e5_1">
                            <div class="semi_arc_3 e5_2">
                                <div class="semi_arc_3 e5_3">
                                    <div class="semi_arc_3 e5_4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="core2"></div>
                    </div>
                    <ul class="marks">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </a>
</body>

</html>